In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#import CSV files into DataFrame Bandas
df_TrainData=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ibrahim/Data/df_TrainFinal.csv')
df_TestData=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ibrahim/Data/df_TestFinal.csv')

In [ ]:
df_TrainData.head(5)

   Unnamed: 0  QuestionId  UserId  ...  GroupId  QuizId  SchemeOfWorkId
0           0       15911   50013  ...     4975   17226         28228.0
1           1       15911   59114  ...     3874   17226         28228.0
2           2       15911   19121  ...    10399   17226             NaN
3           3       15911  112781  ...    10035   17226         28237.0
4           4       15911   15277  ...     6005   17226         28228.0

[5 rows x 19 columns]

In [ ]:
#convert DateOfBirth to year only
df_TrainData["DateOfBirth"]=pd.to_datetime(df_TrainData["DateOfBirth"], errors = 'coerce')
df_TrainData["DateOfBirth"]=df_TrainData.DateOfBirth.dt.year
#df_Merge_tarinMeta["DateOfBirth"]=df_Merge_tarinMeta["DateOfBirth"].astype(int)
#convert DateAnswered to year only
df_TrainData["DateAnswered"]=pd.to_datetime(df_TrainData["DateAnswered"], errors = 'coerce')
df_TrainData["DateAnswered"]=df_TrainData.DateAnswered.dt.year
#df_TrainData['DateOfBirth'].mode()
df_TrainData["DateOfBirth"].fillna(2007, inplace = True)

In [ ]:
df_TrainData['Age']=df_TrainData["DateAnswered"]-df_TrainData["DateOfBirth"]

In [ ]:
df_TrainData.head(5)

   Unnamed: 0  QuestionId  UserId  ...  QuizId  SchemeOfWorkId   Age
0           0       15911   50013  ...   17226         28228.0  14.0
1           1       15911   59114  ...   17226         28228.0  12.0
2           2       15911   19121  ...   17226             NaN  13.0
3           3       15911  112781  ...   17226         28237.0  14.0
4           4       15911   15277  ...   17226         28228.0  33.0

[5 rows x 20 columns]

In [ ]:
df_TrainData.drop([ 'AnswerId','CorrectAnswer','AnswerValue','PremiumPupil','1','4','Confidence','SchemeOfWorkId','DateOfBirth','DateAnswered'], axis = 1,inplace=True)

In [ ]:
df_TrainData.drop(df_TrainData.columns[0],axis = 1,inplace=True)

In [ ]:
df_TrainData

         QuestionId  UserId  IsCorrect  Gender  ...      3  GroupId  QuizId   Age
0             15911   50013          0       1  ...  211.0     4975   17226  14.0
1             15911   59114          1       0  ...  211.0     3874   17226  12.0
2             15911   19121          0       1  ...  211.0    10399   17226  13.0
3             15911  112781          0       2  ...  211.0    10035   17226  14.0
4             15911   15277          1       1  ...  211.0     6005   17226  33.0
...             ...     ...        ...     ...  ...    ...      ...     ...   ...
7516110        9719  105275          1       1  ...  250.0     6935    7837  15.0
7516111        9719   26582          0       2  ...  250.0     2774   12456  15.0
7516112        9719   17813          0       1  ...  250.0     5514   12456  15.0
7516113        9719  118043          1       2  ...  250.0     5201   12456  15.0
7516114        9719    3693          0       2  ...  250.0     6935    7837  15.0

[7516115 rows x 9 columns]

In [ ]:
df_TrainData.isnull().any()

QuestionId    False
UserId        False
IsCorrect     False
Gender        False
2             False
3              True
GroupId       False
QuizId        False
Age           False
dtype: bool

In [ ]:
df_TrainData['3'] = df_TrainData['3'].fillna(0)

In [ ]:
df_TrainData.isnull().any()

QuestionId    False
UserId        False
IsCorrect     False
Gender        False
2             False
3             False
GroupId       False
QuizId        False
Age           False
dtype: bool

In [ ]:
df_TrainData.head(3)

   QuestionId  UserId  IsCorrect  Gender     2      3  GroupId  QuizId   Age
0       15911   50013          0       1  42.0  211.0     4975   17226  14.0
1       15911   59114          1       0  42.0  211.0     3874   17226  12.0
2       15911   19121          0       1  42.0  211.0    10399   17226  13.0

In [ ]:
df_TrainData_Temp=df_TrainData[['QuestionId','UserId','Gender','Age','GroupId','QuizId','2','3','IsCorrect']]

In [ ]:
df_TrainData_Temp.to_csv('/content/drive/MyDrive/Colab Notebooks/ibrahim/Data/df_TrainOutFinal.csv',index=False)